<div class="sidebox">
    <div class="pageinner">
      <a href="admin.html" class="">
        <div class="sidelogo">
      
          <h4 class="txt-stn">ADMIN</h4>
        </div>
      </a>
      <div class="menubox">
        <a class="btnside"[routerLink]="'/dashboard/liveUsers'" routerLinkActive="active-link">
         <span class="mr-2"> <i class="fas fa-tachometer-alt icon1"></i></span> Live Users
        </a>
        <a class=" btnside" [routerLink]="'/dashboard/postevents'" routerLinkActive="active-link">
          <span class="mr-2 "><i class="fas fa-list-alt icon1"></i></span>  Post event analytics
        </a> 
        <a class=" btnside" [routerLink]="'/dashboard/userbased'" routerLinkActive="active-link">
          <span class="mr-2"><i class="fas fa-user icon1"></i></span> User based analytics
        </a>
        <!-- <a class=" btnside" href="leader.html">
          <span class="mr-2 "><i class="fas fa-sign-out-alt icon1"></i></span> Leader Board
        </a> -->
      </div>
   
    </div>
  </div>