<section class="pagebox">
  <app-side-nav></app-side-nav> 
    <div class="mainbox">
      <div class="maininner">
        <div class="titlebox">
          <h1 class="titlename">Dashboard</h1>
        </div>
        <div class="cards redbg boxthree mr25">
          <div class="row">
            <div class="col-lg-12 text-center pad-40">
              <h4>Number of users visted website</h4>
              <h2>30</h2>
            </div>
          </div>
        </div>
        <div class="cards redbg boxthree mr25">
          <div class="cardinner">
            <div class="row">
              <div class="col-lg-12 text-center ">
                <h4>Number of Hours spent on website</h4>
                <h2>560</h2>
              </div>
            </div>
            <div class=""> <a href="countries.html"><span class="btn-stln">view more</span></a> </div>

            
          </div>
        </div>
        <div class="cards redbg boxthree ">
          <div class="row">
            <div class="col-lg-12 text-center pad-40">
              <h4>Over all button <br>clicks</h4>
              <h2>560</h2>
            </div>
          </div>
        </div>
        <div class="w-100"><br></div>
        <div class="cards redbg boxthree mr25 mar-40">
          <div class="row">
            <div class="col-lg-12 text-center pad-40">
              <h4>Number of Hours spent on website</h4>
              <h2>20:30 <small>(hrs)</small></h2>
              <!-- <div class="d-flex justify-content-center">
                <div>
                  <h2 class="mb-0">20 : </h2>
                <small class="ml-0">hours</small>
              </div>
                <div>
                  <h2 class="mb-0 ml-2"> 20 :</h2>
                  <small>Minutes</small>
                </div>
                <div>
                  <h2 class="mb-0"> 20</h2>
                  <small>Seconds</small>
                </div>
              </div> -->
            </div>
          </div>
        </div>
        <div class="cards redbg boxthree mr25 mar-40">
          <div class="row">
            <div class="col-lg-12 text-center pad-40">
              <h4>Over all pages <br> view</h4>
              <h2>200</h2>
            </div>
          </div>
        </div>
      
      </div>
      
    </div>
  </section>
