  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/all.min.js"></script>
  <!-- <link rel="stylesheet" href="../../../../../assets/css/bootstrap.min.css"> -->
  <!-- <link rel="stylesheet" href="../../../../../assets/css/all.min.css"> -->
  <!-- <link rel="stylesheet" href="../../../../../assets/css/master.css"> -->
  
<section class="pagebox">
    <div class="sidebox">
      <div class="pageinner">
        <a href="admin.html" class="">
          <div class="sidelogo">
        
            <h4 class="txt-stn">ADMIN</h4>
          </div>
        </a>
        <div class="menubox">
          <a class="btnside" href="index.html">
           <span class="mr-2"> <i class="fas fa-tachometer-alt icon1"></i></span> Live Users
          </a>
          <a class=" btnside" href="postevent.html">
            <span class="mr-2 "><i class="fas fa-list-alt icon1"></i></span>  Post event analytics
          </a> 
          <a class=" btnside" href="userbased.html">
            <span class="mr-2"><i class="fas fa-user icon1"></i></span> User based analytics
          </a>
          <!-- <a class=" btnside" href="leader.html">
            <span class="mr-2 "><i class="fas fa-sign-out-alt icon1"></i></span> Leader Board
          </a> -->
        </div>
     
      </div>
    </div>
    <div class="mainbox">
        <div class="maininner">
          <div class="titlebox">
            <div class="titlebar"><h1 class="titlename">Number of countries</h1></div>
           
          </div>
          
          <div class="cards itemrow">
            <div class="headerbar">
              <div class="orderitem w-50">Country Name</div>
             
              <div class="orderstatus1 w-50">Number of Persons</div>
             
             
       </div>
       <a href="live.html" class="gray">
            <div class="rowbar">
              <div class="orderitem w-50">India </div>
             
              <div class="orderstatus1 w-50">3</div>
              
   </div>
   <div class="rowbar">
    <div class="orderitem w-50">Uk </div>
   
    <div class="orderstatus1 w-50">2</div>
    
</div>
<div class="rowbar">
    <div class="orderitem w-50">Us </div>
   
    <div class="orderstatus1 w-50">9</div>
    
</div>
<div class="rowbar">
    <div class="orderitem w-50">Germany </div>
   
    <div class="orderstatus1 w-50">1</div>
    
</div>
            </a>
          </div>
  
          <!-- <span>Temp Ui</span>
          <a href="viewbrand.html" class="templink">view Brand</a> -->
        </div>
      </div>
  </section>

