    
<section class="pagebox">
  <app-side-nav></app-side-nav>  
  <div class="mainbox">
        <div class="maininner">
          <div class="titlebox">
            <div class="titlebar"><h1 class="titlename">Number of countries</h1></div>
           
          </div>
          
          <div class="cards itemrow">
            <div class="headerbar">
              <div class="orderitem w-50">Country Name</div>
             
              <div class="orderstatus1 w-50">Number of Persons</div>
             
             
       </div>
       <a href="live.html" class="gray">
            <div class="rowbar">
              <div class="orderitem w-50">India </div>
             
              <div class="orderstatus1 w-50">3</div>
              
   </div>
   <div class="rowbar">
    <div class="orderitem w-50">Uk </div>
   
    <div class="orderstatus1 w-50">2</div>
    
</div>
<div class="rowbar">
    <div class="orderitem w-50">Us </div>
   
    <div class="orderstatus1 w-50">9</div>
    
</div>
<div class="rowbar">
    <div class="orderitem w-50">Germany </div>
   
    <div class="orderstatus1 w-50">1</div>
    
</div>
            </a>
          </div>
  
          <!-- <span>Temp Ui</span>
          <a href="viewbrand.html" class="templink">view Brand</a> -->
        </div>
      </div>
  </section>

